body {
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto; 
    border: 10px solid black;
    border-radius: 20px;
    background-color: #3a3a3a;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

#display {
    background-color: rgb(114, 114, 114);
    color: black;
    padding: 15px 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
    text-align: right;
    border: none;
    outline: none;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(197, 197, 197);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #b0b0b0;
}
.btn-operator {
    background-color: #ff9500;
    color: white;
}
.btn-operator:hover {
    background-color: #e08500;
}
.btn-special {
    background-color: #7e7e7e;
    color: white;
}
.btn-special:hover {
    background-color: #6d6d6d;
}